@{
    ViewData["Title"] = "Reset Password";
    var token = TempData["Token"] as string;
    var email = TempData["Email"] as string;
}

<div class="container-fluid position-relative d-flex p-0 h-100 authentication-bg justify-content-center align-items-center">
    <div class="col-sm-10 col-md-4 col-lg-3 mx-auto">
        <div class="d-flex flex-column justify-content-center">

            <!-- Custom template --See ~wwwroot/js/medisat.custom-elements.js WelcomeLogo -->
            <welcome-logo></welcome-logo>

            <div class="card shadow">
                <div class="card-body p-4">
                    <div class="m-sm-3">
                        <form id="resetPasswordForm">
                            <input type="hidden" name="token" value="@token" />
                            <input type="hidden" name="email" value="@email" />

                            <div class="form-group mb-2">
                                <label class="mb-1" for="new_password">New Password:</label>
                                @(Html.DevExtreme().TextBox()
                                    .ID("new_password")
                                    .Mode(TextBoxMode.Password)
                                    .Placeholder("Enter new password.")
                                    .Width("100%"))
                            </div>

                            <div class="form-group mb-2">
                                <label class="mb-1" for="confirm_password">Confirm Password:</label>
                                @(Html.DevExtreme().TextBox()
                                    .ID("confirm_password")
                                    .Mode(TextBoxMode.Password)
                                    .Placeholder("Confirm new password.")
                                    .Width("100%"))
                            </div>

                            <!-- Checkbox to toggle visibility for both password fields -->
                            <div class="form-check" style="font-size:0.85rem">
                                <input type="checkbox" id="showPasswordCheckbox" class="form-check-input" onclick="togglePasswordVisibility()">
                                <label class="form-check-label" for="showPasswordCheckbox"> <small>Show passwords</small> </label>
                            </div>

                            <div class="d-grid gap-2 mt-4">
                                @(Html.DevExtreme().Button()
                                    .Text("Reset Password")
                                    .Type(ButtonType.Default)
                                    .Icon("arrowright")
                                    .StylingMode(ButtonStylingMode.Outlined)
                                    .Width("100%")
                                    .Height(40)
                                    .OnClick("submitResetPasswordForm")
                                    .ID("resetButton"))
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Custom element --See ~wwwroot/js/medisat.custom-elements.js SecurityHelpText -->
            <help-text></help-text>

            <!-- Custom template --See ~wwwroot/js/medisat.custom-elements.js WelcomeFooter -->
            <welcome-footer></welcome-footer>
        </div>
    </div>
</div>


<script>

    // Function to toggle password visibility for both fields
    function togglePasswordVisibility() {
        const isChecked = document.getElementById('showPasswordCheckbox').checked;

        // Get instances of both password fields
        const newPasswordTextBox = DevExpress.ui.dxTextBox.getInstance(document.getElementById('new_password'));
        const confirmPasswordTextBox = DevExpress.ui.dxTextBox.getInstance(document.getElementById('confirm_password'));

        // Toggle visibility for both fields
        newPasswordTextBox.option("mode", isChecked ? "text" : "password");
        confirmPasswordTextBox.option("mode", isChecked ? "text" : "password");
    }

    // Define variables to store password and confirm password values
    var newPasswordValue = '';
    var confirmPasswordValue = '';

    // Add event listeners to update the password values when the input value changes
    document.getElementById('new_password').addEventListener('input', function (event) {
        newPasswordValue = event.target.value;
    });

    document.getElementById('confirm_password').addEventListener('input', function (event) {
        confirmPasswordValue = event.target.value;
    });

    function submitResetPasswordForm() {
        // Retrieve the password values from the variables
        var newPassword = newPasswordValue;
        var confirmPassword = confirmPasswordValue;

        var token = $("input[name='token']").val();
        var email = $("input[name='email']").val();

        if (newPassword !== confirmPassword) {
            Notiflix.Report.Failure("Error", "Passwords do not match.", "OK");
            return;
        }

        const url = '/api/PasswordResetAPI/ResetPassword';
        const data = { email: email, token: token, newPassword: newPassword };

        console.log(data);

        Notiflix.Loading.Dots('Resetting password...');

        $.get(url, data)
            .done(function (json) {
                Notiflix.Loading.Remove(500);
                if (json.success) {
                    Notiflix.Report.Success("Password Reset Success", json.mresponse, "OK");
                    window.location.href = "/";
                } else {
                    Notiflix.Report.Failure("Reset Failure", json.mresponse, "OK");
                }
            })
            .fail(function (jqxhr, textStatus, error) {
                Notiflix.Loading.Remove(500);
                var err = textStatus + ", " + error;
                Notiflix.Report.Failure("Failure", "Password reset failed: " + err, "OK");
            });
    }
    // Add an event listener for the Enter key to trigger the login button click
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent the default form submission behavior
            document.getElementById('resetButton').click(); // Trigger the login button click
        }
    });
</script>

